<!-- Default layout for site pages.  -->
<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width-device-width, initial-scale=1">
  <title>Skrillx13 Theme</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>

<header>
  {% include header.liquid %}
</header>

<div>
  <!-- The content of pages using this layout will go here. -->
  {{ content }}
</div>

<footer>
    <!-- A simple footer for copyright, and others. -->
    2024, <a href="{{ site.baseurl }}">A Skrillx Project</a>.
</footer>